<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <property name="LOG_HOME" value="./"/>
    <appender name="main" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <file>${LOG_HOME}/watchdog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/watchdog.log-%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} %class %-5level %msg%n</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="main"/>
    </root>
</configuration>
