<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <property name="LOG_HOME" value="/tmp"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %class %-5level %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="main" class="ch.qos.logback.core.FileAppender">
        <encoding>UTF-8</encoding>
        <file>${LOG_HOME}/watchdog.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} %class %-5level %msg%n</pattern>
        </layout>
        <append>false</append>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="main"/>
    </root>
</configuration>
